

body{
    background-color: #c0c0c0;
    position: relative;
    top: 50px;
    left: 5px;
    float: left;
    padding: 5px;
    font-style: italic;
    text-decoration: underline;
    line-height: 1.4em;
    background-image: url(img/mountains-190055_1280.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px 10px 10px ;
    border-color: black;
    border-style: ridge;
    border-width: 5px;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 16px;
    }
    select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px 10px 10px ;
    border-color: black;
    border-style: ridge;
    border-width: 5px;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 16px;
    }
    textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px 10px 10px ;
    border-color: black;
    border-style: ridge;
    border-width: 5px;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 16px;
}
img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    float: right;
    padding: 5px;
    margin: 5px;

}
p{
    color: #ffffff;
}


div {
    padding: 10px;
    border: 1px dashed black;
    margin: 5px;
    float: left;
  
    }
    #box10 {
        width: 160px;
        margin: 20px;
        text-align: center;
        height: 35px;
        background: #8080c0;
        }
    #box1 {
    width: 60px;
    text-align: center;
    height: 240px;
    background: #80ff00;
    }
    #box2 {
    width: 100px;
    text-align: center;
    height: 200px;
    color: #c0c0c0;
    background-color: #004080;
    text-shadow: 1px 2px 3px #000;
    }
    #box3 {
    width: 70px;
    text-align: center;
    height: 150px;
    background-color: #ff0000;
    padding: 20px;
    border: 5px dotted black;
    margin: 6px;
    }
    #box4 {
    width: 200px;
    height: 50px;
    background-color: #408080;
    }
    #box5 {
    width: 100px;
    height: 120px;
    background-color: #0080ff;
    }
    #box6 {
    width: 120px;
    height: 70px;
    background-color: #ffff00;
    }
    #box7 {
    width: 25px;
    height: 80px;
    background-color: #8000ff;
    }
 #Box8 {
    width: 150px;
    margin: 20px;
    text-align: center;
    height: 305px;
    background: #f10989;
    }
    label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

label {
  display: block;
  margin-bottom: 10px;
}
h2{
    color: red;
}
li{
    color: #ffffff;
    font-size: 20px;
    text-shadow: -1px 1px 1px #000;
}